<h2>Home work 10</h2>

<a routerLink="/first" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">first</a>
<br>
<a [routerLink]='["/second"]' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">second</a>
<br>
<a [routerLink]='["/fourth"]'
  [queryParams]="{utm_source: '888',utm_medium: '888',utm_campaign: '888',utm_term: '888',utm_content: '888'}"
  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">fourth</a>
<br>
<router-outlet></router-outlet>
<br>