<h4>Link lesson</h4>
<a href="https://metanit.com/web/angular2/1.1.php">Введение в Angular</a>
<br>
<a href="https://metanit.com/web/angular2/2.1.php">Компоненты</a>
<br>
<a href="https://metanit.com/web/angular2/2.2.php">Модули</a>
<br>
<a href="https://metanit.com/web/angular2/3.1.php">Директивы</a>
<br>
<a href="https://metanit.com/web/angular2/4.1.php">Сервисы</a>
<br>
<a href="https://metanit.com/web/angular2/5.1.php">Работа с формами</a>
<br>
<a href="https://metanit.com/web/angular2/6.1.php">HTTP и взаимодействие с сервером</a>
<br>
<a href="https://metanit.com/web/angular2/7.1.php">Маршрутизация</a>
<br>
<a href="https://metanit.com/web/angular2/8.1.php">Pipes</a>
<br>
